# Análise dos dados das variáveis relacionadas ao IDEB

O notebook contém experimentos com essas variáveis. São utilizadas duas bases de dados:<br>
- Váriáveis derivadas do SAEB (informações socioeconômicas)<br> 
- Variáveis com informações das escolas e professores<br>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
from sklearn.feature_selection import SelectKBest, RFE, RFECV, SelectFromModel
from sklearn.feature_selection import mutual_info_classif, f_classif, chi2
from sklearn.preprocessing import LabelEncoder
import numpy as np
from numpy import array

## Importando bases de dados

In [ ]:
#Importando variáveis derivadas do SAEB

#base_estudantes_se = pd.read_csv('C:/Users/maril/Documents/ufs/TCC e Pesquisa IDEB/variaveis_derivadas_se.csv')

base_estudantes_se = pd.read_csv('/content/drive/MyDrive/TCC/variaveis_derivadas_se.csv')

#base_estudantes_se.set_index('ID_ESCOLA', inplace=True)

#base_estudantes_al = pd.read_csv('C:/Users/maril/Documents/ufs/TCC e Pesquisa IDEB/variaveis_derivadas_al.csv')

base_estudantes_al = pd.read_csv('/content/drive/MyDrive/TCC/variaveis_derivadas_al.csv')

#base_estudantes_al.set_index('ID_ESCOLA', inplace=True)

base_estudantes_ba = pd.read_csv('/content/drive/MyDrive/TCC/variaveis_derivadas_ba.csv')

#base_estudantes_ba.set_index('ID_ESCOLA', inplace=True)

dados_pessoais = pd.merge(base_estudantes_se, base_estudantes_al, how = 'outer')

dados_pessoais = pd.merge(base_estudantes_ba, dados_pessoais, how = 'outer')

In [ ]:
dados_pessoais.set_index('ID_ESCOLA', inplace=True)

In [ ]:
dados_pessoais

           ID_PROVA_BRASIL  ID_REGIAO  ...  TX_RESP_Q003_J  TX_RESP_Q003_L
ID_ESCOLA                              ...
29211590              2017          2  ...               6               7
29032539              2017          2  ...              14              13
29033047              2017          2  ...              10               6
29446740              2017          2  ...               7               4
61206519              2017          2  ...               7               5
...                    ...        ...  ...             ...             ...
61206951              2017          2  ...               1               2
61178197              2017          2  ...               4               3
61197558              2017          2  ...               1               2
61231730              2017          2  ...               2               2
61218351              2017          2  ...              11               8

[1583 rows x 235 columns]

**Pré-processamento da base de dados pessoais**

In [ ]:
#Função que verifica se o ID de uma escola é inválido
#Segundo o Dicionário de Dados da base o SAEB 6 - Os códigos dos Municípios e 
#das Escolas que começam com o dígito "6" são máscaras, isto é, são códigos fictícios.
def retira_id_ficticio(id_escola):
    if id_escola[0] == "6":
        return True
    else:
        return False

In [ ]:
#Se retirou as escolas fictícias
for escola in dados_pessoais.index:
    if (retira_id_ficticio(str(escola))):
        dados_pessoais.drop(escola, inplace=True)
        

dados_pessoais

           ID_PROVA_BRASIL  ID_REGIAO  ...  TX_RESP_Q003_J  TX_RESP_Q003_L
ID_ESCOLA                              ...
29211590              2017          2  ...               6               7
29032539              2017          2  ...              14              13
29033047              2017          2  ...              10               6
29446740              2017          2  ...               7               4
29236606              2017          2  ...              14               6
...                    ...        ...  ...             ...             ...
27024059              2017          2  ...              19              16
27024067              2017          2  ...               6               5
27025047              2017          2  ...              10               6
27025080              2017          2  ...               9              18
27025519              2017          2  ...               6               1

[610 rows x 235 columns]

In [ ]:
#Importando variáveis com informações das escolas e professores
#base_escola_se = pd.read_csv('C:/Users/maril/Documents/ufs/TCC e Pesquisa IDEB/ESCOLAS2017-SE.csv')

base_escola_se = pd.read_csv('/content/drive/MyDrive/TCC/ESCOLAS2017-SE.csv')

#base_escola_se.set_index('CO_ENTIDADE', inplace=True)

#base_escola_al = pd.read_csv('C:/Users/maril/Documents/ufs/TCC e Pesquisa IDEB/ESCOLAS2017-AL.csv')

base_escola_al = pd.read_csv('/content/drive/MyDrive/TCC/ESCOLAS2017-AL.csv')

#base_escola_al.set_index('CO_ENTIDADE', inplace=True)

#base_escola_ba = pd.read_csv('C:/Users/maril/Documents/ufs/TCC e Pesquisa IDEB/ESCOLAS2017-BA.csv')

base_escola_ba = pd.read_csv('/content/drive/MyDrive/TCC/ESCOLAS2017-BA.csv')

base_escola_ba.rename(columns={'Unnamed: 0': 'CO_ENTIDADE'}, inplace=True)

#base_escola_ba.set_index('CO_ENTIDADE', inplace=True)

dados_escola = pd.merge(base_escola_se, base_escola_al, how = 'outer')

In [ ]:
dados_escola = pd.concat([dados_escola, base_escola_ba], join='outer')

dados_escola.set_index('CO_ENTIDADE', inplace=True)

In [ ]:
dados_escola

             NU_ANO_CENSO  ... QtdedocentesCLT
CO_ENTIDADE                ...
28017943             2017  ...             NaN
28010124             2017  ...             NaN
28018052             2017  ...             NaN
28032497             2017  ...             NaN
28017773             2017  ...             NaN
...                   ...  ...             ...
29223687             2017  ...             0.0
29035007             2017  ...             0.0
29242290             2017  ...             0.0
29237645             2017  ...             0.0
29337941             2017  ...             0.0

[670 rows x 188 columns]

In [ ]:
col_ideb = dados_escola['Ideb-2017']

dados_escola.drop('Ideb-2017', axis=1, inplace=True)

In [ ]:
col_ideb

CO_ENTIDADE
28017943    6.9
28010124    6.6
28018052    6.4
28032497    6.1
28017773    5.8
           ...
29223687    2.9
29035007    3.9
29242290    4.0
29237645    3.7
29337941    2.5
Name: Ideb-2017, Length: 670, dtype: float64

In [ ]:
dados_escola

             NU_ANO_CENSO  ... QtdedocentesCLT
CO_ENTIDADE                ...
28017943             2017  ...             NaN
28010124             2017  ...             NaN
28018052             2017  ...             NaN
28032497             2017  ...             NaN
28017773             2017  ...             NaN
...                   ...  ...             ...
29223687             2017  ...             0.0
29035007             2017  ...             0.0
29242290             2017  ...             0.0
29237645             2017  ...             0.0
29337941             2017  ...             0.0

[670 rows x 187 columns]

#### Pré-processamento da base das escolas

In [ ]:
#Retirando valores ausentes
filteredColumns = dados_escola.dtypes[dados_escola.dtypes == np.float64]

listOfColumnNames = list(filteredColumns.index)

# retorna o número de valores ausentes para cada coluna
dados_escola[listOfColumnNames].isnull().sum()

CO_ORGAO_REGIONAL               11
TP_CATEGORIA_ESCOLA_PRIVADA    194
IN_CONVENIADA_PP               194
TP_CONVENIO_PODER_PUBLICO      234
IN_MANT_ESCOLA_PRIVADA_EMP     194
                              ...
QtdeDocentesCLT                574
RelAlunProf                    574
QtdeDocentesDivSocCulta         96
asQtdeDocentesEfetivos         125
QtdedocentesCLT                239
Length: 165, dtype: int64

In [ ]:
#Retirando colunas que apresentam mais de 60% do valores nulos
dados_escola.dropna(thresh=len(dados_escola)*0.6, axis=1, inplace=True)

#Preenchendo valores ausentes
dados_escola.fillna(0, inplace=True)

filteredColumns = dados_escola.dtypes[dados_escola.dtypes == np.float64]

listOfColumnNames = list(filteredColumns.index)

# retorna o número de valores ausentes para cada coluna
dados_escola[listOfColumnNames].isnull().sum()

CO_ORGAO_REGIONAL              0
TP_CATEGORIA_ESCOLA_PRIVADA    0
IN_CONVENIADA_PP               0
TP_CONVENIO_PODER_PUBLICO      0
IN_MANT_ESCOLA_PRIVADA_EMP     0
                              ..
QtdeDocentesTempo              0
QtdeDocentesTerceir            0
QtdeDocentesDivSocCulta        0
asQtdeDocentesEfetivos         0
QtdedocentesCLT                0
Length: 161, dtype: int64

In [ ]:
dados_escola[listOfColumnNames] = dados_escola[listOfColumnNames].astype(int)

In [ ]:
dados_escola['Ideb-2017'] = col_ideb

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  """Entry point for launching an IPython kernel.

In [ ]:
dados_escola

             NU_ANO_CENSO  ... Ideb-2017
CO_ENTIDADE                ...
28017943             2017  ...       6.9
28010124             2017  ...       6.6
28018052             2017  ...       6.4
28032497             2017  ...       6.1
28017773             2017  ...       5.8
...                   ...  ...       ...
29223687             2017  ...       2.9
29035007             2017  ...       3.9
29242290             2017  ...       4.0
29237645             2017  ...       3.7
29337941             2017  ...       2.5

[670 rows x 184 columns]

In [ ]:
#Colunas categóricas
filteredColumns = dados_escola.dtypes[dados_escola.dtypes == np.object]

listOfColumnNames = list(filteredColumns.index)

dados_escola[listOfColumnNames]

                                                   NO_ENTIDADE  ... DT_ANO_LETIVO_TERMINO
CO_ENTIDADE                                                     ...
28017943                                  COLEGIO AMADEUS LTDA  ...            24/11/2017
28010124     ESCOLA DE EDUCACAO BASICA MONSENHOR JOSE DE SO...  ...            08/12/2017
28018052                      COLEGIO SANTANNA DE SERGIPE LTDA  ...            01/12/2017
28032497                                      COLEGIO NOTA DEZ  ...            15/12/2017
28017773                                 COL AMERICANO BATISTA  ...            01/12/2017
...                                                        ...  ...                   ...
29223687     EE - COLEGIO ESTADUAL EDIVALDO BOAVENTURA - PO...  ...            13/12/2017
29035007     EE - COLEGIO ESTADUAL POLIVALENTE DE PAULO AFONSO  ...            13/12/2017
29242290            EE - INSTITUTO DE EDUCACAO ANISIO TEIXEIRA  ...            13/12/2017
29237645                 EE - COLEGIO ESTADUAL JOAO VILAS BOAS  ...            13/12/2017
29337941          EE - COLEGIO ESTADUAL ISABEL ARAUJO DA SILVA  ...            13/12/2017

[670 rows x 3 columns]

In [ ]:
#Tratando datas, convertendo para timestamp

inicio = pd.to_datetime(dados_escola['DT_ANO_LETIVO_INICIO'], infer_datetime_format = True)
termino = pd.to_datetime(dados_escola['DT_ANO_LETIVO_TERMINO'], infer_datetime_format = True)

dados_escola['DT_ANO_LETIVO_INICIO'] = inicio.values.astype (np.int64)
dados_escola['DT_ANO_LETIVO_TERMINO'] = termino.values.astype (np.int64)

In [ ]:
dados_escola.drop('NO_ENTIDADE', axis=1, inplace=True)

In [ ]:
dados_escola.columns.to_list()

['NU_ANO_CENSO',
 'CO_ORGAO_REGIONAL',
 'TP_SITUACAO_FUNCIONAMENTO',
 'DT_ANO_LETIVO_INICIO',
 'DT_ANO_LETIVO_TERMINO',
 'CO_REGIAO',
 'CO_MESORREGIAO',
 'CO_MICRORREGIAO',
 'CO_UF',
 'CO_MUNICIPIO',
 'CO_DISTRITO',
 'TP_DEPENDENCIA',
 'TP_LOCALIZACAO',
 'TP_CATEGORIA_ESCOLA_PRIVADA',
 'IN_CONVENIADA_PP',
 'TP_CONVENIO_PODER_PUBLICO',
 'IN_MANT_ESCOLA_PRIVADA_EMP',
 'IN_MANT_ESCOLA_PRIVADA_ONG',
 'IN_MANT_ESCOLA_PRIVADA_SIND',
 'IN_MANT_ESCOLA_PRIVADA_SIST_S',
 'IN_MANT_ESCOLA_PRIVADA_S_FINS',
 'CO_ESCOLA_SEDE_VINCULADA',
 'CO_IES_OFERTANTE',
 'TP_REGULAMENTACAO',
 'IN_LOCAL_FUNC_PREDIO_ESCOLAR',
 'TP_OCUPACAO_PREDIO_ESCOLAR',
 'IN_LOCAL_FUNC_SALAS_EMPRESA',
 'IN_LOCAL_FUNC_SOCIOEDUCATIVO',
 'IN_LOCAL_FUNC_UNID_PRISIONAL',
 'IN_LOCAL_FUNC_PRISIONAL_SOCIO',
 'IN_LOCAL_FUNC_TEMPLO_IGREJA',
 'IN_LOCAL_FUNC_CASA_PROFESSOR',
 'IN_LOCAL_FUNC_GALPAO',
 'TP_OCUPACAO_GALPAO',
 'IN_LOCAL_FUNC_SALAS_OUTRA_ESC',
 'IN_LOCAL_FUNC_OUTROS',
 'IN_PREDIO_COMPARTILHADO',
 'IN_AGUA_FILTRADA',
 'IN_AGUA_REDE_PUBLICA',
 'IN_AGUA_POCO_ARTESIANO',
 'IN_AGUA_CACIMBA',
 'IN_AGUA_FONTE_RIO',
 'IN_AGUA_INEXISTENTE',
 'IN_ENERGIA_REDE_PUBLICA',
 'IN_ENERGIA_GERADOR',
 'IN_ENERGIA_OUTROS',
 'IN_ENERGIA_INEXISTENTE',
 'IN_ESGOTO_REDE_PUBLICA',
 'IN_ESGOTO_FOSSA',
 'IN_ESGOTO_INEXISTENTE',
 'IN_LIXO_COLETA_PERIODICA',
 'IN_LIXO_QUEIMA',
 'IN_LIXO_JOGA_OUTRA_AREA',
 'IN_LIXO_RECICLA',
 'IN_LIXO_ENTERRA',
 'IN_LIXO_OUTROS',
 'IN_SALA_DIRETORIA',
 'IN_SALA_PROFESSOR',
 'IN_LABORATORIO_INFORMATICA',
 'IN_LABORATORIO_CIENCIAS',
 'IN_SALA_ATENDIMENTO_ESPECIAL',
 'IN_QUADRA_ESPORTES_COBERTA',
 'IN_QUADRA_ESPORTES_DESCOBERTA',
 'IN_QUADRA_ESPORTES',
 'IN_COZINHA',
 'IN_BIBLIOTECA',
 'IN_SALA_LEITURA',
 'IN_BIBLIOTECA_SALA_LEITURA',
 'IN_PARQUE_INFANTIL',
 'IN_BERCARIO',
 'IN_BANHEIRO_FORA_PREDIO',
 'IN_BANHEIRO_DENTRO_PREDIO',
 'IN_BANHEIRO_EI',
 'IN_BANHEIRO_PNE',
 'IN_DEPENDENCIAS_PNE',
 'IN_SECRETARIA',
 'IN_BANHEIRO_CHUVEIRO',
 'IN_REFEITORIO',
 'IN_DESPENSA',
 'IN_ALMOXARIFADO',
 'IN_AUDITORIO',
 'IN_PATIO_COBERTO',
 'IN_PATIO_DESCOBERTO',
 'IN_ALOJAM_ALUNO',
 'IN_ALOJAM_PROFESSOR',
 'IN_AREA_VERDE',
 'IN_LAVANDERIA',
 'IN_DEPENDENCIAS_OUTRAS',
 'NU_SALAS_EXISTENTES',
 'NU_SALAS_UTILIZADAS',
 'IN_EQUIP_TV',
 'IN_EQUIP_VIDEOCASSETE',
 'IN_EQUIP_DVD',
 'IN_EQUIP_PARABOLICA',
 'IN_EQUIP_COPIADORA',
 'IN_EQUIP_RETROPROJETOR',
 'IN_EQUIP_IMPRESSORA',
 'IN_EQUIP_IMPRESSORA_MULT',
 'IN_EQUIP_SOM',
 'IN_EQUIP_MULTIMIDIA',
 'IN_EQUIP_FAX',
 'IN_EQUIP_FOTO',
 'IN_COMPUTADOR',
 'NU_EQUIP_TV',
 'NU_EQUIP_VIDEOCASSETE',
 'NU_EQUIP_DVD',
 'NU_EQUIP_PARABOLICA',
 'NU_EQUIP_COPIADORA',
 'NU_EQUIP_RETROPROJETOR',
 'NU_EQUIP_IMPRESSORA',
 'NU_EQUIP_IMPRESSORA_MULT',
 'NU_EQUIP_SOM',
 'NU_EQUIP_MULTIMIDIA',
 'NU_EQUIP_FAX',
 'NU_EQUIP_FOTO',
 'NU_COMPUTADOR',
 'NU_COMP_ADMINISTRATIVO',
 'NU_COMP_ALUNO',
 'IN_INTERNET',
 'IN_BANDA_LARGA',
 'NU_FUNCIONARIOS',
 'IN_ALIMENTACAO',
 'TP_AEE',
 'TP_ATIVIDADE_COMPLEMENTAR',
 'IN_FUNDAMENTAL_CICLOS',
 'TP_LOCALIZACAO_DIFERENCIADA',
 'IN_MATERIAL_ESP_QUILOMBOLA',
 'IN_MATERIAL_ESP_INDIGENA',
 'IN_MATERIAL_ESP_NAO_UTILIZA',
 'IN_EDUCACAO_INDIGENA',
 'TP_INDIGENA_LINGUA',
 'CO_LINGUA_INDIGENA',
 'IN_BRASIL_ALFABETIZADO',
 'IN_FINAL_SEMANA',
 'IN_FORMACAO_ALTERNANCIA',
 'IN_MEDIACAO_PRESENCIAL',
 'IN_MEDIACAO_SEMIPRESENCIAL',
 'IN_MEDIACAO_EAD',
 'IN_ESPECIAL_EXCLUSIVA',
 'IN_REGULAR',
 'IN_EJA',
 'IN_PROFISSIONALIZANTE',
 'IN_COMUM_CRECHE',
 'IN_COMUM_PRE',
 'IN_COMUM_FUND_AI',
 'IN_COMUM_FUND_AF',
 'IN_COMUM_MEDIO_MEDIO',
 'IN_COMUM_MEDIO_INTEGRADO',
 'IN_COMUM_MEDIO_NORMAL',
 'IN_ESP_EXCLUSIVA_CRECHE',
 'IN_ESP_EXCLUSIVA_PRE',
 'IN_ESP_EXCLUSIVA_FUND_AI',
 'IN_ESP_EXCLUSIVA_FUND_AF',
 'IN_ESP_EXCLUSIVA_MEDIO_MEDIO',
 'IN_ESP_EXCLUSIVA_MEDIO_INTEGR',
 'IN_ESP_EXCLUSIVA_MEDIO_NORMAL',
 'IN_COMUM_EJA_FUND',
 'IN_COMUM_EJA_MEDIO',
 'IN_COMUM_EJA_PROF',
 'IN_ESP_EXCLUSIVA_EJA_FUND',
 'IN_ESP_EXCLUSIVA_EJA_MEDIO',
 'IN_ESP_EXCLUSIVA_EJA_PROF',
 'IN_COMUM_PROF',
 'IN_ESP_EXCLUSIVA_PROF',
 'QtdeDocentesComLicenciatura',
 'QtdeDocentesAtendEsp',
 'QtdeDocentesEsp',
 'QtdeDocentesMest',
 'QtdeDocentesDout',
 'QtdeDocentesSemPos',
 'QtdeDocentesFCEM',
 'QtdeDocentes',
 'QtdeDocentesAuxAssist',
 'QtdeDocentesMonit',
 'QtdeDocentesTempo',
 'QtdeDocentesTerceir',
 'QtdeDocentesTotal',
 'QtdeAlunosTotal',
 'QtdeTurmasProf',
 'QtdeDocentesDivSocCulta',
 'asQtdeDocentesEfetivos',
 'QtdedocentesCLT',
 'Ideb-2017']

In [ ]:
dados_pessoais

           ID_PROVA_BRASIL  ID_REGIAO  ...  TX_RESP_Q003_J  TX_RESP_Q003_L
ID_ESCOLA                              ...
29211590              2017          2  ...               6               7
29032539              2017          2  ...              14              13
29033047              2017          2  ...              10               6
29446740              2017          2  ...               7               4
29236606              2017          2  ...              14               6
...                    ...        ...  ...             ...             ...
27024059              2017          2  ...              19              16
27024067              2017          2  ...               6               5
27025047              2017          2  ...              10               6
27025080              2017          2  ...               9              18
27025519              2017          2  ...               6               1

[610 rows x 235 columns]

### Unindo as bases de dados 

Foi realizado join nos dois datasets, nesse momento se percebeu que não existem variáveis escolas particulares na base derivada do SAEB

In [ ]:
dataset = dados_pessoais.join(dados_escola, how="inner")

In [ ]:
dataset

          ID_PROVA_BRASIL  ID_REGIAO  ...  QtdedocentesCLT  Ideb-2017
27000095             2017          2  ...               -1        3.4
27001237             2017          2  ...               -1        3.9
27002020             2017          2  ...               -1        3.3
27002063             2017          2  ...               -1        3.8
27002950             2017          2  ...               -1        3.5
...                   ...        ...  ...              ...        ...
29840635             2017          2  ...                0        2.5
29848873             2017          2  ...                0        2.3
29886732             2017          2  ...                0        1.8
29903726             2017          2  ...                0        3.5
29980720             2017          2  ...                0        2.4

[587 rows x 418 columns]

In [ ]:
dados_escola.dtypes[dados_escola.dtypes == np.float64]

Ideb-2017    float64
dtype: object

In [ ]:
dataset['ID_DEPENDENCIA_ADM'].unique()

array([2, 1, 3])

In [ ]:
#dataset.to_csv('C:/Users/maril/Documents/ufs/TCC e Pesquisa Ideb/variaveis_derivadas_escola_estudante_4.0.csv')

### Discretização dos rótulos, nota do Ideb

**Discretização:** É o processo de transferência de funções contínuas, modelos, variáveis e equações em contrapartes discretas.

In [ ]:
# São três classes média, acima da média e abaixo da média
def discretizacao(ideb, mean_ideb):
    classe = []
    for nota in ideb['Ideb-2017']:
        if (mean_ideb == nota):
            classe.append('média')
        elif (mean_ideb < nota):
            classe.append('acima da média')
        else:
            classe.append('abaixo da média')
    return classe

In [ ]:
#discretizando as notas do Ideb

Ideb = dataset[['Ideb-2017']]

mean_Ideb = round(Ideb.mean(),1)

classe_ideb = discretizacao(Ideb, mean_Ideb['Ideb-2017'])

Ideb.insert(1, 'classe-Ideb', classe_ideb)

Ideb

          Ideb-2017      classe-Ideb
27000095        3.4   acima da média
27001237        3.9   acima da média
27002020        3.3   acima da média
27002063        3.8   acima da média
27002950        3.5   acima da média
...             ...              ...
29840635        2.5  abaixo da média
29848873        2.3  abaixo da média
29886732        1.8  abaixo da média
29903726        3.5   acima da média
29980720        2.4  abaixo da média

[587 rows x 2 columns]

In [ ]:
#Variavel a ser prevista
y = Ideb['classe-Ideb']

**Seleção de Atributos:**  É um passo da fase de pré-processamento que tem a finalidade de selecionar o melhor subconjunto de atributos que pode substituir o conjunto de dados original. 

https://www.analyticsvidhya.com/blog/2016/12/introduction-to-feature-selection-methods-with-an-example-or-how-to-select-the-right-variables/#:~:text=Embedded%20methods%20combine%20the%20qualities,penalization%20functions%20to%20reduce%20overfitting.

Abordagens:

- Filtro: a relevância dos atributos é avaliada independentemente – não
envolve o uso de um método de AM ;

- Wrapper (Envólucro): Avalia o subconjunto de atributos arti culado ao método de AM que realizará a indução do conceito;

- Embedded (Embutidos): Os métodos incorporados combinam as qualidades dos métodos de filtro e wrapper. Ele é implementado por algoritmos que possuem seus próprios métodos de seleção de recursos integrados.

In [ ]:
#Filter based
# f_classif: ANOVA F-value between label/feature for classification tasks.
#ANOVA stands for Analysis of variance. It is similar to LDA except for the fact that it is operated using one or more categorical 
#independent features and one continuous dependent feature. It provides a statistical test 
#of whether the means of several groups are equal or not.
def selecao_atributos(X, y, quant):
    select = SelectKBest(score_func=f_classif, k=quant)
    #select = SelectKBest(score_func=chi2, k=quant)
    z = select.fit_transform(X, y)
    
    filter = select.get_support(indices=True)
    features = array(X.columns)
    
    return X.iloc[:, filter]

In [ ]:
#Wrapper-based
from sklearn.cluster import KMeans

def wrapper_based(X, X_transform, y, quant):

  #select_features = RFE(estimator=KMeans(n_clusters=3), n_features_to_select=100)
  #select_features = RFE(estimator=SVC(kernel="linear"), n_features_to_select=100)
  select_features = RFECV(
      estimator=SVC(kernel="linear"),
      min_features_to_select= 100,
      cv = 5
  )
  select_features.fit(X_transform, y)

  filter = select_features.get_support(indices=True)
  return X.iloc[:, filter]

In [ ]:
# Embedded-based

def embedded_based(X, X_transform, y, quant):

  select_features = SelectFromModel(LogisticRegression(), max_features=quant)
  #select_features = SelectFromModel(SVC(kernel="linear", max_features=quant)
  #select_features = SelectFromModel(RandomForestClassifier(), max_features=quant)
  select_features.fit(X_transform, y)

  filter = select_features.get_support(indices=True)

  return X.iloc[:, filter]

**Métricas de Avaliação**

In [ ]:
def acuracia(resultados, classes):
    #resultados = cross_val_predict(modelo, textos, classes, cv=10)  
    return 'Acurácia do modelo: {} %'.format(round(metrics.accuracy_score(classes, resultados)*100, 2))

**Normalização:** é mudar os valores das colunas numéricas no conjunto de dados para usar uma escala comum, sem distorcer as diferenças nos intervalos de valores nem perder informações.

- **Normalização MinMax:** Para cada recurso, o valor mínimo desse recurso é transformado em 0, o valor máximo é transformado em 1 e todos os outros valores são transformados em um decimal entre 0 e 1.

In [ ]:
def minmax(data):
    scaler = MinMaxScaler()
    data_scaler = scaler.fit_transform(data)
    return data_scaler

## Criação dos modelos

**Serão feitas três análises:** Apenas com as variáveis socioeconômicas, com as variáveis de escolas e professores e depois com o dataset completo

Para cada uma serão criados modelos com todos os atributos e também com seleção de atributos, a fim de verificar o de maior acurácia

In [ ]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import sklearn.metrics as metrics

In [ ]:
def inicializar_modelos():
    naive = MultinomialNB()
    random = RandomForestClassifier(n_estimators=150)
    decision_tree = DecisionTreeClassifier()
    svm = SVC(kernel="linear")
    r_logistic = LogisticRegression(max_iter=250)
    knn = KNeighborsClassifier(n_neighbors=3)
    return naive, random, decision_tree, svm, r_logistic, knn

#### -Primeira análise: variáveis socioeconômicas derivadas da prova SAEB**

In [ ]:
#Foi retirada colunas do 'ID_PROVA_BRASIL', 'ID_REGIAO', 'ID_UF'
columns = dataset.columns[3:234]

columns

Index(['ID_MUNICIPIO', 'ID_AREA', 'ID_DEPENDENCIA_ADM', 'ID_LOCALIZACAO',
       'IN_SITUACAO_CENSO', 'TX_RESP_Q001_A', 'TX_RESP_Q001_B',
       'TX_RESP_Q020_A', 'TX_RESP_Q020_B', 'TX_RESP_Q021_A',
       ...
       'TX_RESP_Q003_A', 'TX_RESP_Q003_B', 'TX_RESP_Q003_C', 'TX_RESP_Q003_D',
       'TX_RESP_Q003_E', 'TX_RESP_Q003_F', 'TX_RESP_Q003_G', 'TX_RESP_Q003_H',
       'TX_RESP_Q003_I', 'TX_RESP_Q003_J'],
      dtype='object', length=231)

In [ ]:
X =  dataset[columns]

In [ ]:
#Questões de sexo, raça, ano, mes de nascimento, conformidade com censo
question = ['TX_RESP_Q001_A', 'TX_RESP_Q001_B', 'TX_RESP_Q002_A', 'TX_RESP_Q002_B', 'TX_RESP_Q002_C', 'TX_RESP_Q002_D', 
            'TX_RESP_Q002_E', 'TX_RESP_Q002_F', 'TX_RESP_Q003_A', 'TX_RESP_Q003_B', 'TX_RESP_Q003_C', 'TX_RESP_Q003_D', 
            'TX_RESP_Q003_E', 'TX_RESP_Q003_F', 'TX_RESP_Q003_G', 'TX_RESP_Q003_H', 'TX_RESP_Q003_I', 'TX_RESP_Q003_J', 
            'TX_RESP_Q004_A', 'TX_RESP_Q004_B', 'TX_RESP_Q004_C', 'TX_RESP_Q004_D', 
            'TX_RESP_Q004_E', 'TX_RESP_Q004_F', 'TX_RESP_Q004_G', 'TX_RESP_Q004_H', 'IN_SITUACAO_CENSO']

delete_at = ['IN_SITUACAO_CENSO']

X.drop(delete_at, axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
filteredColumns = X.dtypes[X.dtypes == np.float]

listOfColumnNames = list(filteredColumns.index)

X[listOfColumnNames]

Empty DataFrame
Columns: []
Index: [27000095, 27001237, 27002020, 27002063, 27002950, 27003108, 27003221, 27003515, 27003973, 27004490, 27005224, 27007120, 27007456, 27008827, 27009998, 27010074, 27010090, 27010767, 27011100, 27011844, 27012115, 27012166, 27012611, 27012620, 27012638, 27013405, 27013871, 27013979, 27014002, 27014010, 27014029, 27014037, 27014932, 27014959, 27015068, 27015114, 27015920, 27016331, 27016366, 27016382, 27016412, 27016420, 27016471, 27017702, 27018016, 27018016, 27018350, 27018962, 27018997, 27019608, 27019608, 27020274, 27020320, 27020819, 27021467, 27022277, 27022838, 27023516, 27023583, 27024016, 27024059, 27024067, 27025047, 27025080, 27025519, 27026337, 27026370, 27026744, 27027082, 27027597, 27028380, 27029123, 27029166, 27029336, 27030245, 27030806, 27031063, 27031365, 27032280, 27033384, 27034070, 27034240, 27034887, 27035786, 27035948, 27035980, 27036499, 27036642, 27036677, 27037037, 27037088, 27038297, 27038556, 27038637, 27038734, 27040240, 27040348, 27040860, 27040984, 27043436, ...]

[587 rows x 0 columns]

**Divisão entre conjunto de treino e teste**

In [ ]:
X_scaler = minmax(X)

X_train, X_test, y_train, y_test = train_test_split(X_scaler, y, random_state=50, test_size=0.2)

**Fase de Treinamento e Teste**

In [ ]:
naive, random, decision_tree, svm, r_logistic, knn = inicializar_modelos()

In [ ]:
naive.fit(X_train, y_train)
random.fit(X_train, y_train)
decision_tree.fit(X_train, y_train)
svm.fit(X_train, y_train)
r_logistic.fit(X_train, y_train)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
random_result = random.predict(X_test)
naive_result = naive.predict(X_test)
decision_result = decision_tree.predict(X_test)
svm_result = svm.predict(X_test)
logistic_result = r_logistic.predict(X_test)
knn_result = knn.predict(X_test)

print("Random forest: " + acuracia(random_result, y_test))
print("Naive Bayes: " + acuracia(naive_result, y_test))
print("Decision Tree: " + acuracia(decision_result, y_test))
print("SVM: " + acuracia(svm_result, y_test))
print("Logistic Regression: "+acuracia(logistic_result, y_test))
print("KNN: "+acuracia(knn_result, y_test))

Random forest: Acurácia do modelo: 66.1 %
Naive Bayes: Acurácia do modelo: 62.71 %
Decision Tree: Acurácia do modelo: 57.63 %
SVM: Acurácia do modelo: 69.49 %
Logistic Regression: Acurácia do modelo: 67.8 %
KNN: Acurácia do modelo: 57.63 %

**-Primeira Análise: Aplicando Seleção de Atributos (Filtragem)**

In [ ]:
X_selection = selecao_atributos(X, y, 100)

X_selection

After selecting best 100 features: (587, 100)

          ID_MUNICIPIO  ID_AREA  ...  TX_RESP_Q003_A  TX_RESP_Q003_I
27000095       2700102        2  ...               9               7
27001237       2701605        2  ...              13              14
27002020       2705002        2  ...              10              11
27002063       2705002        2  ...               1               1
27002950       2706422        2  ...               7              12
...                ...      ...  ...             ...             ...
29840635       2923704        2  ...               3               5
29848873       2923100        2  ...               2               1
29886732       2902252        2  ...               0               0
29903726       2933257        2  ...               1               6
29980720       2919603        2  ...              10               8

[587 rows x 100 columns]

In [ ]:
X_scaler = minmax(X_selection)

X_train, X_test, y_train, y_test = train_test_split(X_scaler, y, random_state=50, test_size=0.2)

**Fase de Treinamento e Teste**

In [ ]:
naive, random, decision_tree, svm, r_logistic, knn = inicializar_modelos()

In [ ]:
naive.fit(X_train, y_train)
random.fit(X_train, y_train)
decision_tree.fit(X_train, y_train)
svm.fit(X_train, y_train)
r_logistic.fit(X_train, y_train)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
random_result = random.predict(X_test)
naive_result = naive.predict(X_test)
decision_result = decision_tree.predict(X_test)
svm_result = svm.predict(X_test)
logistic_result = r_logistic.predict(X_test)
knn_result = knn.predict(X_test)

print("Random forest: " + acuracia(random_result, y_test))
print("Naive Bayes: " + acuracia(naive_result, y_test))
print("Decision Tree: " + acuracia(decision_result, y_test))
print("SVM: " + acuracia(svm_result, y_test))
print("Logistic Regression: "+acuracia(logistic_result, y_test))
print("KNN: "+acuracia(knn_result, y_test))

Random forest: Acurácia do modelo: 66.1 %
Naive Bayes: Acurácia do modelo: 66.95 %
Decision Tree: Acurácia do modelo: 56.78 %
SVM: Acurácia do modelo: 71.19 %
Logistic Regression: Acurácia do modelo: 70.34 %
KNN: Acurácia do modelo: 65.25 %

**-Primeira Análise: Aplicando Seleção de Atributos (Embutida)**

In [ ]:
X_embedded = embedded_based(X, X_scaler, y, 100)

X_embedded

          ID_MUNICIPIO  ID_AREA  ...  TX_RESP_Q045_B  TX_RESP_Q045_C
27000095       2700102        2  ...              24               1
27001237       2701605        2  ...              61               7
27002020       2705002        2  ...              16               3
27002063       2705002        2  ...              10               2
27002950       2706422        2  ...              55               1
...                ...      ...  ...             ...             ...
29840635       2923704        2  ...               0              12
29848873       2923100        2  ...               0               5
29886732       2902252        2  ...               1               0
29903726       2933257        2  ...               3              10
29980720       2919603        2  ...               4              46

[587 rows x 44 columns]

In [ ]:
X_scaler_em = minmax(X_embedded)

X_train, X_test, y_train, y_test = train_test_split(X_scaler_em, y, random_state=50, test_size=0.2)

In [ ]:
naive, random, decision_tree, svm, r_logistic, knn = inicializar_modelos()

In [ ]:
naive.fit(X_train, y_train)
random.fit(X_train, y_train)
decision_tree.fit(X_train, y_train)
svm.fit(X_train, y_train)
r_logistic.fit(X_train, y_train)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
random_result = random.predict(X_test)
naive_result = naive.predict(X_test)
decision_result = decision_tree.predict(X_test)
svm_result = svm.predict(X_test)
logistic_result = r_logistic.predict(X_test)
knn_result = knn.predict(X_test)

print("Random forest: " + acuracia(random_result, y_test))
print("Naive Bayes: " + acuracia(naive_result, y_test))
print("Decision Tree: " + acuracia(decision_result, y_test))
print("SVM: " + acuracia(svm_result, y_test))
print("Logistic Regression: "+acuracia(logistic_result, y_test))
print("KNN: "+acuracia(knn_result, y_test))

Random forest: Acurácia do modelo: 64.41 %
Naive Bayes: Acurácia do modelo: 59.32 %
Decision Tree: Acurácia do modelo: 49.15 %
SVM: Acurácia do modelo: 65.25 %
Logistic Regression: Acurácia do modelo: 65.25 %
KNN: Acurácia do modelo: 60.17 %

**-Primeira Análise: Aplicando Seleção de Atributos (Wrapper)**

In [ ]:
X_wrapper = wrapper_based(X, X_scaler, y, 100)

X_wrapper

          ID_MUNICIPIO  ID_AREA  ...  TX_RESP_Q045_C  TX_RESP_Q045_D
27000095       2700102        2  ...               1               1
27001237       2701605        2  ...               7               9
27002020       2705002        2  ...               3               2
27002063       2705002        2  ...               2               1
27002950       2706422        2  ...               1               4
...                ...      ...  ...             ...             ...
29840635       2923704        2  ...              12               1
29848873       2923100        2  ...               5               0
29886732       2902252        2  ...               0               1
29903726       2933257        2  ...              10               1
29980720       2919603        2  ...              46               4

[587 rows x 100 columns]

In [ ]:
X_scaler_w = minmax(X_wrapper)

X_train, X_test, y_train, y_test = train_test_split(X_scaler_w, y, random_state=50, test_size=0.2)

In [ ]:
naive, random, decision_tree, svm, r_logistic, knn = inicializar_modelos()

In [ ]:
naive.fit(X_train, y_train)
random.fit(X_train, y_train)
decision_tree.fit(X_train, y_train)
svm.fit(X_train, y_train)
r_logistic.fit(X_train, y_train)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
random_result = random.predict(X_test)
naive_result = naive.predict(X_test)
decision_result = decision_tree.predict(X_test)
svm_result = svm.predict(X_test)
logistic_result = r_logistic.predict(X_test)
knn_result = knn.predict(X_test)

print("Random forest: " + acuracia(random_result, y_test))
print("Naive Bayes: " + acuracia(naive_result, y_test))
print("Decision Tree: " + acuracia(decision_result, y_test))
print("SVM: " + acuracia(svm_result, y_test))
print("Logistic Regression: "+acuracia(logistic_result, y_test))
print("KNN: "+acuracia(knn_result, y_test))

Random forest: Acurácia do modelo: 66.95 %
Naive Bayes: Acurácia do modelo: 61.86 %
Decision Tree: Acurácia do modelo: 50.0 %
SVM: Acurácia do modelo: 68.64 %
Logistic Regression: Acurácia do modelo: 67.8 %
KNN: Acurácia do modelo: 60.17 %

#### -Segunda análise: Análise com o dataset completo

In [ ]:
#Lembrar de tratar datas

'''question = ['TX_RESP_Q001_A', 'TX_RESP_Q001_B', 'TX_RESP_Q002_A', 'TX_RESP_Q002_B', 'TX_RESP_Q002_C', 'TX_RESP_Q002_D', 
            'TX_RESP_Q002_E', 'TX_RESP_Q002_F', 'TX_RESP_Q003_A', 'TX_RESP_Q003_B', 'TX_RESP_Q003_C', 'TX_RESP_Q003_D', 
            'TX_RESP_Q003_E', 'TX_RESP_Q003_F', 'TX_RESP_Q003_G', 'TX_RESP_Q003_H', 'TX_RESP_Q003_I', 'TX_RESP_Q003_J', 
            'TX_RESP_Q003_L', 'TX_RESP_Q004_A', 'TX_RESP_Q004_B', 'TX_RESP_Q004_C', 'TX_RESP_Q004_D', 'CO_REGIAO',
            'TP_SITUACAO_FUNCIONAMENTO', 'TP_REGULAMENTACAO',
            'CO_MESORREGIAO', 'CO_MICRORREGIAO', 'CO_DISTRITO', 'TP_LOCALIZACAO',  'CO_ORGAO_REGIONAL', 'TP_DEPENDENCIA',
            'TX_RESP_Q004_E', 'TX_RESP_Q004_F', 'TX_RESP_Q004_G', 'TX_RESP_Q004_H', 'ID_PROVA_BRASIL', 'ID_REGIAO', 'ID_UF', 'ID_MUNICIPIO', 
            'DT_ANO_LETIVO_INICIO', 'DT_ANO_LETIVO_TERMINO', 'IN_SITUACAO_CENSO', 'NU_ANO_CENSO', 'CO_UF', 'CO_MUNICIPIO', 'Ideb-2017']'''

delete = ['CO_MESORREGIAO', 'CO_MICRORREGIAO', 'CO_DISTRITO', 'TP_LOCALIZACAO',  'CO_ORGAO_REGIONAL', 'TP_DEPENDENCIA',
          'ID_PROVA_BRASIL', 'ID_REGIAO', 'ID_UF', 'ID_MUNICIPIO', 'IN_SITUACAO_CENSO', 'Ideb-2017']


#'NO_ENTIDADE', 

#X = dataset.drop(delete, axis=1)

X = dataset.drop(['Ideb-2017','IN_SITUACAO_CENSO'], axis=1)

In [ ]:
X

          ID_PROVA_BRASIL  ID_REGIAO  ...  asQtdeDocentesEfetivos  QtdedocentesCLT
27000095             2017          2  ...                      24                0
27001237             2017          2  ...                      11                0
27002020             2017          2  ...                       5                0
27002063             2017          2  ...                      13                0
27002950             2017          2  ...                      37                0
...                   ...        ...  ...                     ...              ...
29840635             2017          2  ...                     174                0
29848873             2017          2  ...                      12                0
29886732             2017          2  ...                       6                0
29903726             2017          2  ...                      16                0
29980720             2017          2  ...                      46                0

[587 rows x 416 columns]

In [ ]:
filteredColumns = X.dtypes[X.dtypes == np.float64]

listOfColumnNames = list(filteredColumns.index)

#X[listOfColumnNames].fillna(-1, inplace=True)

#X[listOfColumnNames] = X[listOfColumnNames].astype(int)

X[listOfColumnNames].isnull().sum()

Series([], dtype: float64)

In [ ]:
X_transform = minmax(X)

X_train, X_test, y_train, y_test = train_test_split(X_transform, y, random_state=50, test_size=0.2)

**Fase de Treinamento e Teste**

In [ ]:
naive, random, decision_tree, svm, r_logistic, knn = inicializar_modelos()

In [ ]:
naive.fit(X_train, y_train)
random.fit(X_train, y_train)
decision_tree.fit(X_train, y_train)
svm.fit(X_train, y_train)
r_logistic.fit(X_train, y_train)
knn.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

KNeighborsClassifier(n_neighbors=3)

In [ ]:
random_result = random.predict(X_test)
naive_result = naive.predict(X_test)
decision_result = decision_tree.predict(X_test)
svm_result = svm.predict(X_test)
logistic_result = r_logistic.predict(X_test)
knn_result = knn.predict(X_test)

print("Random forest: " + acuracia(random_result, y_test))
print("Naive Bayes: " + acuracia(naive_result, y_test))
print("Decision Tree: " + acuracia(decision_result, y_test))
print("SVM: " + acuracia(svm_result, y_test))
print("Logistic Regression: "+acuracia(logistic_result, y_test))
print("KNN: "+acuracia(knn_result, y_test))

Random forest: Acurácia do modelo: 63.56 %
Naive Bayes: Acurácia do modelo: 50.85 %
Decision Tree: Acurácia do modelo: 55.93 %
SVM: Acurácia do modelo: 67.8 %
Logistic Regression: Acurácia do modelo: 70.34 %
KNN: Acurácia do modelo: 61.86 %

**-Segunda Análise: Aplicando Seleção de Atributos (Embutida)**

In [ ]:
X_embedded = embedded_based(X, X_transform, y, 100)

X_embedded

          ID_MUNICIPIO  TX_RESP_Q020_B  ...  QtdeTurmasProf  asQtdeDocentesEfetivos
27000095       2700102              22  ...             172                      24
27001237       2701605              44  ...             250                      11
27002020       2705002              21  ...             222                       5
27002063       2705002              13  ...              73                      13
27002950       2706422              31  ...             121                      37
...                ...             ...  ...             ...                     ...
29840635       2923704               5  ...             178                     174
29848873       2923100               8  ...              54                      12
29886732       2902252               0  ...             199                       6
29903726       2933257              10  ...              63                      16
29980720       2919603              20  ...             149                      46

[587 rows x 100 columns]

In [ ]:
X_transform_em = minmax(X_embedded)

X_train, X_test, y_train, y_test = train_test_split(X_transform_em, y, random_state=50, test_size=0.2)

In [ ]:
naive, random, decision_tree, svm, r_logistic, knn = inicializar_modelos()

In [ ]:
naive.fit(X_train, y_train)
random.fit(X_train, y_train)
decision_tree.fit(X_train, y_train)
svm.fit(X_train, y_train)
r_logistic.fit(X_train, y_train)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
random_result = random.predict(X_test)
naive_result = naive.predict(X_test)
decision_result = decision_tree.predict(X_test)
svm_result = svm.predict(X_test)
logistic_result = r_logistic.predict(X_test)
knn_result = knn.predict(X_test)

print("Random forest: " + acuracia(random_result, y_test))
print("Naive Bayes: " + acuracia(naive_result, y_test))
print("Decision Tree: " + acuracia(decision_result, y_test))
print("SVM: " + acuracia(svm_result, y_test))
print("Logistic Regression: "+acuracia(logistic_result, y_test))
print("KNN: "+acuracia(knn_result, y_test))

Random forest: Acurácia do modelo: 67.8 %
Naive Bayes: Acurácia do modelo: 62.71 %
Decision Tree: Acurácia do modelo: 55.93 %
SVM: Acurácia do modelo: 68.64 %
Logistic Regression: Acurácia do modelo: 71.19 %
KNN: Acurácia do modelo: 64.41 %

**-Segunda Análise: Aplicando Seleção de Atributos (Wrapper)**

In [ ]:
X_wrapper = wrapper_based(X, X_transform, y, 100)

X_wrapper

          ID_UF  ID_AREA  ...  QtdeDocentesDivSocCulta  QtdedocentesCLT
27000095     27        2  ...                        0               -1
27001237     27        2  ...                        0               -1
27002020     27        2  ...                        0               -1
27002063     27        2  ...                        0               -1
27002950     27        2  ...                        0               -1
...         ...      ...  ...                      ...              ...
29840635     29        2  ...                        0                0
29848873     29        2  ...                        0                0
29886732     29        2  ...                        0                0
29903726     29        2  ...                        0                0
29980720     29        2  ...                        0                0

[587 rows x 108 columns]

In [ ]:
X_transform_w = minmax(X_wrapper)

X_train, X_test, y_train, y_test = train_test_split(X_transform_w, y, random_state=50, test_size=0.2)

In [ ]:
naive, random, decision_tree, svm, r_logistic, knn = inicializar_modelos()

In [ ]:
naive.fit(X_train, y_train)
random.fit(X_train, y_train)
decision_tree.fit(X_train, y_train)
svm.fit(X_train, y_train)
r_logistic.fit(X_train, y_train)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
random_result = random.predict(X_test)
naive_result = naive.predict(X_test)
decision_result = decision_tree.predict(X_test)
svm_result = svm.predict(X_test)
logistic_result = r_logistic.predict(X_test)
knn_result = knn.predict(X_test)

print("Random forest: " + acuracia(random_result, y_test))
print("Naive Bayes: " + acuracia(naive_result, y_test))
print("Decision Tree: " + acuracia(decision_result, y_test))
print("SVM: " + acuracia(svm_result, y_test))
print("Logistic Regression: "+acuracia(logistic_result, y_test))
print("KNN: "+acuracia(knn_result, y_test))

Random forest: Acurácia do modelo: 69.49 %
Naive Bayes: Acurácia do modelo: 64.41 %
Decision Tree: Acurácia do modelo: 61.02 %
SVM: Acurácia do modelo: 77.12 %
Logistic Regression: Acurácia do modelo: 77.97 %
KNN: Acurácia do modelo: 65.25 %

**-Segunda Análise: Aplicando Seleção de Atributos (Filtragem)**

In [ ]:
X_selection = selecao_atributos(X, y, 100)

X_selection

/usr/local/lib/python3.7/dist-packages/sklearn/feature_selection/_univariate_selection.py:112: UserWarning: Features [  0   1 234 236 239 247 248 249 250 251 252 253 254 260 261 262 263 264
 265 278 280 303 369 370 372 373 383 384 385 386 387 388 389 393 394 395
 397 399 413] are constant.
  warnings.warn("Features %s are constant." % constant_features_idx, UserWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/feature_selection/_univariate_selection.py:113: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

          ID_UF  ID_MUNICIPIO  ...  IN_COMUM_MEDIO_MEDIO  IN_COMUM_PROF
27000095     27       2700102  ...                     1              0
27001237     27       2701605  ...                     1              0
27002020     27       2705002  ...                     1              0
27002063     27       2705002  ...                     1              0
27002950     27       2706422  ...                     1              0
...         ...           ...  ...                   ...            ...
29840635     29       2923704  ...                     1              0
29848873     29       2923100  ...                     1              0
29886732     29       2902252  ...                     0              0
29903726     29       2933257  ...                     1              0
29980720     29       2919603  ...                     1              0

[587 rows x 100 columns]

In [ ]:
X_transform = minmax(X_selection)

X_train, X_test, y_train, y_test = train_test_split(X_transform, y, random_state=50, test_size=0.2)

**Fase de Treinamento e Teste**

In [ ]:
naive, random, decision_tree, svm, r_logistic, knn = inicializar_modelos()

In [ ]:
naive.fit(X_train, y_train)
random.fit(X_train, y_train)
decision_tree.fit(X_train, y_train)
svm.fit(X_train, y_train)
r_logistic.fit(X_train, y_train)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
random_result = random.predict(X_transform)
naive_result = naive.predict(X_transform)
decision_result = decision_tree.predict(X_transform)
svm_result = svm.predict(X_transform)
logistic_result = r_logistic.predict(X_transform)
knn_result = knn.predict(X_transform)

print("Random forest: " + acuracia(random_result, y))
print("Naive Bayes: " + acuracia(naive_result, y))
print("Decision Tree: " + acuracia(decision_result, y))
print("SVM: " + acuracia(svm_result, y))
print("Logistic Regression: "+acuracia(logistic_result, y))
print("KNN: "+acuracia(knn_result, y))

Random forest: Acurácia do modelo: 93.19 %
Naive Bayes: Acurácia do modelo: 64.05 %
Decision Tree: Acurácia do modelo: 90.29 %
SVM: Acurácia do modelo: 72.91 %
Logistic Regression: Acurácia do modelo: 73.42 %
KNN: Acurácia do modelo: 72.57 %

**Segunda Análise: Unindo subconjunto de melhores atributos**

In [ ]:
X_all = pd.concat([X_selection, X_wrapper], axis=1)

X_all = pd.concat([X_all, X_embedded], axis=1)

In [ ]:
#Removendo colunas duplicadas
X_new_all = X_all.T.drop_duplicates().T

In [ ]:
X_transform = minmax(X_new_all)

X_train, X_test, y_train, y_test = train_test_split(X_transform, y, random_state=50, test_size=0.2)

In [ ]:
naive, random, decision_tree, svm, r_logistic, knn = inicializar_modelos()

In [ ]:
naive.fit(X_train, y_train)
random.fit(X_train, y_train)
decision_tree.fit(X_train, y_train)
svm.fit(X_train, y_train)
r_logistic.fit(X_train, y_train)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
random_result = random.predict(X_transform)
naive_result = naive.predict(X_transform)
decision_result = decision_tree.predict(X_transform)
svm_result = svm.predict(X_transform)
logistic_result = r_logistic.predict(X_transform)
knn_result = knn.predict(X_transform)

print("Random forest: " + acuracia(random_result, y))
print("Naive Bayes: " + acuracia(naive_result, y))
print("Decision Tree: " + acuracia(decision_result, y))
print("SVM: " + acuracia(svm_result, y))
print("Logistic Regression: "+acuracia(logistic_result, y))
print("KNN: "+acuracia(knn_result, y))

Random forest: Acurácia do modelo: 92.67 %
Naive Bayes: Acurácia do modelo: 63.54 %
Decision Tree: Acurácia do modelo: 90.12 %
SVM: Acurácia do modelo: 80.75 %
Logistic Regression: Acurácia do modelo: 80.07 %
KNN: Acurácia do modelo: 72.74 %

Resultado com Todos atributos

- Random forest: Acurácia do modelo: 93.36 %
- Naive Bayes: Acurácia do modelo: 61.67 %
- Decision Tree: Acurácia do modelo: 91.14 %
- SVM: Acurácia do modelo: 79.56 %
- Logistic Regression: Acurácia do modelo: 79.9 %
- KNN: Acurácia do modelo: 74.45 %

**Segunda Análise: Aplicando a técnica merge**

Link da Dissertação: https://www.dcc.ufmg.br/pos/cursos/defesas/1930M.PDF

In [ ]:
#Metodo Merge combina os atributos mais frequentes nos melhores conjuntos de seleção 
#Cada atributo irá apresentar um score de acordo com sua presença em um subconjunto de dados
def metodo_merge(selection, embedded, wrapper, ranking):
  for atributo in selection:
    score = ranking[atributo]
    if (atributo in embedded):
      score += 1
      embedded.remove(atributo)
    if (atributo in wrapper):
      score +=1
      wrapper.remove(atributo)
    ranking[atributo] = score

  for atributo in embedded:
    score = ranking[atributo]
    if (atributo in selection):
      score += 1
      embedded.remove(atributo)
    if (atributo in wrapper):
      score +=1
      wrapper.remove(atributo)
    ranking[atributo] = score

  for atributo in wrapper:
    score = ranking[atributo]
    if (atributo in selection):
      score += 1
      embedded.remove(atributo)
    if (atributo in embedded):
      score +=1
      wrapper.remove(atributo)
    ranking[atributo] = score
 
  return ranking

In [ ]:
#Gerando Listas com os melhores atributos de cada abordagem
selection = list(X_selection.columns)
embedded = list(X_embedded.columns)
wrapper = list(X_wrapper.columns)

#Criando dicionário
values = [1]*300

all = selection + embedded + wrapper

ranking = dict(zip(all, values))

ranking = metodo_merge(selection, embedded, wrapper, ranking)

#Filtrando os atributos que estão em mais de um subconjunto

dic_aux = ranking.items()

filtered = {key:value for key, value in dic_aux if value > 1}

#Gerando X após o merge

X_merge = dataset[list(filtered.keys())]

In [ ]:
X_transform = minmax(X_merge)

X_train, X_test, y_train, y_test = train_test_split(X_transform, y, random_state=50, test_size=0.2)

In [ ]:
naive, random, decision_tree, svm, r_logistic, knn = inicializar_modelos()

In [ ]:
naive.fit(X_train, y_train)
random.fit(X_train, y_train)
decision_tree.fit(X_train, y_train)
svm.fit(X_train, y_train)
r_logistic.fit(X_train, y_train)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
random_result = random.predict(X_transform)
naive_result = naive.predict(X_transform)
decision_result = decision_tree.predict(X_transform)
svm_result = svm.predict(X_transform)
logistic_result = r_logistic.predict(X_transform)
knn_result = knn.predict(X_transform)

print("Random forest: " + acuracia(random_result, y))
print("Naive Bayes: " + acuracia(naive_result, y))
print("Decision Tree: " + acuracia(decision_result, y))
print("SVM: " + acuracia(svm_result, y))
print("Logistic Regression: "+acuracia(logistic_result, y))
print("KNN: "+acuracia(knn_result, y))

Random forest: Acurácia do modelo: 94.38 %
Naive Bayes: Acurácia do modelo: 66.95 %
Decision Tree: Acurácia do modelo: 91.14 %
SVM: Acurácia do modelo: 76.66 %
Logistic Regression: Acurácia do modelo: 78.36 %
KNN: Acurácia do modelo: 77.0 %

In [ ]:
dados_para_exportar = pd.DataFrame(columns=X_merge.columns, data=X_merge.values)

dados_para_exportar

     ID_UF  ID_DEPENDENCIA_ADM  ...  QtdeAlunosTotal  QtdeDocentesDivSocCulta
0       27                   2  ...              508                        0
1       27                   2  ...              792                        0
2       27                   2  ...              652                        0
3       27                   2  ...              309                        0
4       27                   2  ...              442                        0
..     ...                 ...  ...              ...                      ...
582     29                   3  ...              701                        0
583     29                   2  ...              209                        0
584     29                   2  ...              389                        0
585     29                   2  ...              194                        0
586     29                   2  ...              620                        0

[587 rows x 87 columns]

In [ ]:
#dados_para_exportar.to_csv('C:/Users/maril/Documents/ufs/TCC e Pesquisa IDEB/resultado_analise_merge_dataset_completo.csv')
dados_para_exportar.to_csv('/content/drive/MyDrive/TCC/resultado_analise_merge_dataset_completo.csv')

#### -Terceira análise: variáveis das escolas e professores

In [ ]:
columns_escolas = dataset.columns[237:404]

X_escolas = dataset[columns_escolas]

X_escolas

          TP_SITUACAO_FUNCIONAMENTO  ...  QtdeDocentesDout
27000095                          1  ...                 0
27001237                          1  ...                 0
27002020                          1  ...                 0
27002063                          1  ...                 0
27002950                          1  ...                 0
...                             ...  ...               ...
29840635                          1  ...                 0
29848873                          1  ...                 0
29886732                          1  ...                 0
29903726                          1  ...                 0
29980720                          1  ...                 0

[587 rows x 167 columns]

In [ ]:
X_escolas.drop(columns=['DT_ANO_LETIVO_INICIO', 'DT_ANO_LETIVO_TERMINO'], axis=1, inplace=True)

X_transform = minmax(X_escolas)

X_train, X_test, y_train, y_test = train_test_split(X_transform, y, random_state=50, test_size=0.2)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
naive, random, decision_tree, svm, r_logistic, knn = inicializar_modelos()

In [ ]:
naive.fit(X_train, y_train)
random.fit(X_train, y_train)
decision_tree.fit(X_train, y_train)
svm.fit(X_train, y_train)
r_logistic.fit(X_train, y_train)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
random_result = random.predict(X_test)
naive_result = naive.predict(X_test)
decision_result = decision_tree.predict(X_test)
svm_result = svm.predict(X_test)
logistic_result = r_logistic.predict(X_test)
knn_result = knn.predict(X_test)

print("Random forest: " + acuracia(random_result, y_test))
print("Naive Bayes: " + acuracia(naive_result, y_test))
print("Decision Tree: " + acuracia(decision_result, y_test))
print("SVM: " + acuracia(svm_result, y_test))
print("Logistic Regression: "+acuracia(logistic_result, y_test))
print("KNN: "+acuracia(knn_result, y_test))

Random forest: Acurácia do modelo: 63.56 %
Naive Bayes: Acurácia do modelo: 61.86 %
Decision Tree: Acurácia do modelo: 54.24 %
SVM: Acurácia do modelo: 64.41 %
Logistic Regression: Acurácia do modelo: 66.95 %
KNN: Acurácia do modelo: 62.71 %

**Aplicando seleção de atributos (Filtragem)**

In [ ]:
X_selection = selecao_atributos(X_escolas, y, 100)

After selecting best 100 features: (587, 100)

/usr/local/lib/python3.7/dist-packages/sklearn/feature_selection/_univariate_selection.py:112: UserWarning: Features [  0   1  22  23  24  25  26  27  40  42  65 131 132 134 135 145 146 147
 148 149 150 151 155 156 157 159 161] are constant.
  warnings.warn("Features %s are constant." % constant_features_idx, UserWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/feature_selection/_univariate_selection.py:113: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

In [ ]:
naive, random, decision_tree, svm, r_logistic, knn = inicializar_modelos()

In [ ]:
naive.fit(X_train, y_train)
random.fit(X_train, y_train)
decision_tree.fit(X_train, y_train)
svm.fit(X_train, y_train)
r_logistic.fit(X_train, y_train)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
random_result = random.predict(X_test)
naive_result = naive.predict(X_test)
decision_result = decision_tree.predict(X_test)
svm_result = svm.predict(X_test)
logistic_result = r_logistic.predict(X_test)
knn_result = knn.predict(X_test)

print("Random forest: " + acuracia(random_result, y_test))
print("Naive Bayes: " + acuracia(naive_result, y_test))
print("Decision Tree: " + acuracia(decision_result, y_test))
print("SVM: " + acuracia(svm_result, y_test))
print("Logistic Regression: "+acuracia(logistic_result, y_test))
print("KNN: "+acuracia(knn_result, y_test))

Random forest: Acurácia do modelo: 62.71 %
Naive Bayes: Acurácia do modelo: 61.86 %
Decision Tree: Acurácia do modelo: 52.54 %
SVM: Acurácia do modelo: 64.41 %
Logistic Regression: Acurácia do modelo: 66.95 %
KNN: Acurácia do modelo: 62.71 %

**Aplicando seleção de atributos (Embutida)**

In [ ]:
X_embedded = embedded_based(X, X_transform, y, 100)

X_embedded

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

          ID_LOCALIZACAO  TX_RESP_Q001_A  ...  TX_RESP_Q014_A  TX_RESP_Q014_C
27000095               1              38  ...               4               9
27001237               1              76  ...               4              22
27002020               1              41  ...               8              17
27002063               2              12  ...               0               2
27002950               1              70  ...               7              15
...                  ...             ...  ...             ...             ...
29840635               2              22  ...               0               7
29848873               2               8  ...               0               2
29886732               2               2  ...               0               0
29903726               1              19  ...               2               4
29980720               1              38  ...               4               7

[587 rows x 67 columns]

In [ ]:
X_transform_em = minmax(X_embedded)

X_train, X_test, y_train, y_test = train_test_split(X_transform_em, y, random_state=50, test_size=0.2)

In [ ]:
naive, random, decision_tree, svm, r_logistic, knn = inicializar_modelos()

In [ ]:
naive.fit(X_train, y_train)
random.fit(X_train, y_train)
decision_tree.fit(X_train, y_train)
svm.fit(X_train, y_train)
r_logistic.fit(X_train, y_train)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
random_result = random.predict(X_test)
naive_result = naive.predict(X_test)
decision_result = decision_tree.predict(X_test)
svm_result = svm.predict(X_test)
logistic_result = r_logistic.predict(X_test)
knn_result = knn.predict(X_test)

print("Random forest: " + acuracia(random_result, y_test))
print("Naive Bayes: " + acuracia(naive_result, y_test))
print("Decision Tree: " + acuracia(decision_result, y_test))
print("SVM: " + acuracia(svm_result, y_test))
print("Logistic Regression: "+acuracia(logistic_result, y_test))
print("KNN: "+acuracia(knn_result, y_test))

Random forest: Acurácia do modelo: 66.1 %
Naive Bayes: Acurácia do modelo: 68.64 %
Decision Tree: Acurácia do modelo: 58.47 %
SVM: Acurácia do modelo: 70.34 %
Logistic Regression: Acurácia do modelo: 72.88 %
KNN: Acurácia do modelo: 61.02 %

**Aplicando seleção de atributos (Wrapper)**

In [ ]:
X_wrapper = wrapper_based(X, X_transform, y, 100)

X_wrapper

          ID_LOCALIZACAO  TX_RESP_Q001_A  ...  TX_RESP_Q014_D  TX_RESP_Q014_E
27000095               1              38  ...               0               0
27001237               1              76  ...               3               0
27002020               1              41  ...               4               0
27002063               2              12  ...               0               0
27002950               1              70  ...               2               1
...                  ...             ...  ...             ...             ...
29840635               2              22  ...               0               0
29848873               2               8  ...               0               0
29886732               2               2  ...               0               0
29903726               1              19  ...               0               2
29980720               1              38  ...               1               0

[587 rows x 100 columns]

In [ ]:
X_transform_w = minmax(X_wrapper)

X_train, X_test, y_train, y_test = train_test_split(X_transform_w, y, random_state=50, test_size=0.2)

In [ ]:
naive, random, decision_tree, svm, r_logistic, knn = inicializar_modelos()

In [ ]:
naive.fit(X_train, y_train)
random.fit(X_train, y_train)
decision_tree.fit(X_train, y_train)
svm.fit(X_train, y_train)
r_logistic.fit(X_train, y_train)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
random_result = random.predict(X_test)
naive_result = naive.predict(X_test)
decision_result = decision_tree.predict(X_test)
svm_result = svm.predict(X_test)
logistic_result = r_logistic.predict(X_test)
knn_result = knn.predict(X_test)

print("Random forest: " + acuracia(random_result, y_test))
print("Naive Bayes: " + acuracia(naive_result, y_test))
print("Decision Tree: " + acuracia(decision_result, y_test))
print("SVM: " + acuracia(svm_result, y_test))
print("Logistic Regression: "+acuracia(logistic_result, y_test))
print("KNN: "+acuracia(knn_result, y_test))

Random forest: Acurácia do modelo: 65.25 %
Naive Bayes: Acurácia do modelo: 61.86 %
Decision Tree: Acurácia do modelo: 44.92 %
SVM: Acurácia do modelo: 68.64 %
Logistic Regression: Acurácia do modelo: 67.8 %
KNN: Acurácia do modelo: 63.56 %